In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

In [30]:
df=pd.read_csv("car_price_problem1.csv")
print(df.shape)
df

(4340, 8)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [32]:
df.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [34]:
df['fuel'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [7]:
df['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [8]:
df['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [9]:

df['owner'].unique()

array(['First Owner', 'Second Owner', 'Fourth & Above Owner',
       'Third Owner', 'Test Drive Car'], dtype=object)

In [10]:
ohe= OneHotEncoder()

In [11]:
print(ohe)

OneHotEncoder()

In [15]:
ohe.fit_transform(df[["fuel","seller_type","transmission"]]).toarray()

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [22]:
feature_arry=ohe.fit_transform(df[["fuel","seller_type","transmission"]]).toarray()

In [23]:
ohe.categories_

[array(['CNG', 'Diesel', 'Electric', 'LPG', 'Petrol'], dtype=object),
 array(['Dealer', 'Individual', 'Trustmark Dealer'], dtype=object),
 array(['Automatic', 'Manual'], dtype=object)]

In [24]:
feature_labels=ohe.categories_

In [26]:
np.array(feature_labels).ravel()

C:\Users\divya\AppData\Local\Temp\ipykernel_6824\1803594317.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  np.array(feature_labels).ravel()

array([array(['CNG', 'Diesel', 'Electric', 'LPG', 'Petrol'], dtype=object),
       array(['Dealer', 'Individual', 'Trustmark Dealer'], dtype=object),
       array(['Automatic', 'Manual'], dtype=object)], dtype=object)

In [27]:
feature_labels=np.array(feature_labels).ravel()
print(feature_labels)

[array(['CNG', 'Diesel', 'Electric', 'LPG', 'Petrol'], dtype=object)
 array(['Dealer', 'Individual', 'Trustmark Dealer'], dtype=object)
 array(['Automatic', 'Manual'], dtype=object)]

C:\Users\divya\AppData\Local\Temp\ipykernel_6824\3931530627.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  feature_labels=np.array(feature_labels).ravel()

In [28]:
pd.DataFrame(feature_arry,columns=feature_labels)

ValueError: Shape of passed values is (4340, 10), indices imply (4340, 3)

In [6]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [6]:
#df['name'] = df['name'].astype('category')
#df['name'] = df['name'].cat.codes
#df['name']

0        775
1       1041
2        505
3        118
4        279
        ...
4335     602
4336     601
4337     777
4338     381
4339    1154
Name: name, Length: 4340, dtype: int16

In [7]:
def encodedata (df):
    df_list=df.unique().tolist()
    df_dict={}
    for i,item in enumerate (df_list):
        df_dict[item] = i
    return df_dict
name_dict = encodedata(df.name)
fuel_dict = encodedata(df.fuel)
seller_type_dict = encodedata(df.seller_type)
transmission_dict = encodedata(df.transmission)
owner_dict = encodedata(df.owner)
print(len(name_dict), len(fuel_dict), len(seller_type_dict), len(transmission_dict),len(owner_dict))

1491 5 3 2 5

In [8]:
df['name'] = df['name'].map(name_dict)
df['fuel'] = df['fuel'].map(fuel_dict)
df['seller_type'] = df['seller_type'].map(seller_type_dict)
df['transmission'] = df['transmission'].map(transmission_dict)
df['owner'] = df['owner'].map(owner_dict)
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,0,2007,60000,70000,0,0,0,0
1,1,2007,135000,50000,0,0,0,0
2,2,2012,600000,100000,1,0,0,0
3,3,2017,250000,46000,0,0,0,0
4,4,2014,450000,141000,1,0,0,1
...,...,...,...,...,...,...,...,...
4335,180,2014,409999,80000,1,0,0,1
4336,1490,2014,409999,80000,1,0,0,1
4337,121,2009,110000,83000,0,0,0,1
4338,561,2016,865000,90000,1,0,0,0
4339,91,2016,225000,40000,0,0,0,0

In [9]:
new_df=df.drop("selling_price",axis="columns")
new_df.head()

   name  year  km_driven  fuel  seller_type  transmission  owner
0     0  2007      70000     0            0             0      0
1     1  2007      50000     0            0             0      0
2     2  2012     100000     1            0             0      0
3     3  2017      46000     0            0             0      0
4     4  2014     141000     1            0             0      1

In [10]:
target_df=df[['selling_price']]
print(target_df.shape)
target_df.head()

(4340, 1)

   selling_price
0          60000
1         135000
2         600000
3         250000
4         450000

In [11]:
def absolute_maximum_scale(series):
    return series / series.abs().max()

for col in new_df.columns:
    new_df[col] = absolute_maximum_scale(new_df[col])
print(new_df)   
#from sklearn.preprocessing import MinMaxScaler
#scaler=MinMaxScaler()
#fit the scaler to the train set,it will learn the parameters
#scaler.fit(new_df)
#transform train and test sets

#new=scaler.transform(new_df)
#new

          name      year  km_driven  fuel  seller_type  transmission  owner
0     0.000000  0.993564   0.086784  0.00          0.0           0.0   0.00
1     0.000671  0.993564   0.061989  0.00          0.0           0.0   0.00
2     0.001342  0.996040   0.123977  0.25          0.0           0.0   0.00
3     0.002013  0.998515   0.057030  0.00          0.0           0.0   0.00
4     0.002685  0.997030   0.174808  0.25          0.0           0.0   0.25
...        ...       ...        ...   ...          ...           ...    ...
4335  0.120805  0.997030   0.099182  0.25          0.0           0.0   0.25
4336  1.000000  0.997030   0.099182  0.25          0.0           0.0   0.25
4337  0.081208  0.994554   0.102901  0.00          0.0           0.0   0.25
4338  0.376510  0.998020   0.111580  0.25          0.0           0.0   0.00
4339  0.061074  0.998020   0.049591  0.00          0.0           0.0   0.00

[4340 rows x 7 columns]

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( new_df,target_df, test_size=0.05, random_state=42, shuffle=True)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(4123, 7) (217, 7) (4123, 1) (217, 1)

In [13]:
from sklearn.linear_model import LinearRegression
#from sklearn.metrics import confusion_matrix,accuracy_score
regressor=LinearRegression().fit(X_train, y_train)

In [14]:
print(regressor.coef_)
print(regressor.intercept_)
predicted=regressor.predict(X_test)
predicted

[[-2.95567108e+04  8.03289968e+07 -5.30419157e+05  8.73069430e+05
   1.92736283e+05  8.83609269e+05 -3.23651561e+04]]
[-79724208.5766107]

array([[ 357207.50802226],
       [ 531634.88875253],
       [  87912.09014817],
       [ 483562.44283301],
       [1482951.03230366],
       [ 263002.10344073],
       [ 490715.25883783],
       [ 297346.54395032],
       [ 627708.51837854],
       [ 331578.66098271],
       [ 654637.73509125],
       [ 528603.71954402],
       [ 562187.76999228],
       [  -6061.95481183],
       [ 688505.38807544],
       [ 468831.00039349],
       [ 825435.37489069],
       [1292402.34544156],
       [ 115608.16542116],
       [1466340.19131014],
       [ 597058.44891074],
       [ 701298.86568943],
       [ 497695.98779808],
       [ 708916.4126168 ],
       [ 303283.53735672],
       [ 572774.3011926 ],
       [ 684545.30806674],
       [ 311369.71675681],
       [ 451853.97737914],
       [ 546700.16874228],
       [ -38995.89331442],
       [1479597.80639666],
       [ 586624.06400785],
       [ 667446.61256085],
       [ 538286.1652128 ],
       [ 416219.7123457 ],
       [ 713920.41012056],
       [ 488918.36327764],
       [ 143623.7084322 ],
       [ 517982.39092293],
       [ 564749.9780502 ],
       [ 506023.05133013],
       [ 672571.29299343],
       [ 422386.77529858],
       [ 368247.00424086],
       [ 306054.64021505],
       [ 424942.6661962 ],
       [ 455113.96563962],
       [ 683326.55162616],
       [ 436142.18315309],
       [ 199857.77965361],
       [ 317487.62272222],
       [ 554602.16664812],
       [ 290743.47492599],
       [ 448043.60042007],
       [ 768723.14126468],
       [ 627838.99850446],
       [ 154890.31183338],
       [ 313877.6231162 ],
       [ 470735.80184619],
       [  16815.14358135],
       [ 443580.64364123],
       [1344538.91517162],
       [ 740659.66492313],
       [   2840.05180897],
       [ 382739.73885861],
       [ 554602.16664812],
       [ 131674.76634715],
       [ 128183.46995093],
       [ 482272.78078361],
       [1224883.27914764],
       [ 499647.22281602],
       [  13968.2040069 ],
       [1433136.78071617],
       [ 235270.82630406],
       [ 766963.64778522],
       [ 312874.71716875],
       [ 864023.91982266],
       [ 536354.86354995],
       [ 683037.82113086],
       [ 490068.61121349],
       [  57260.60649642],
       [ 202709.65728529],
       [ 547490.66771474],
       [-159546.0969135 ],
       [ 437212.80998889],
       [ 308074.23125519],
       [ 240981.5323941 ],
       [ 400246.01351625],
       [-233739.683882  ],
       [ 501169.34222554],
       [ 281939.23503803],
       [ 212013.325298  ],
       [ 186618.32133539],
       [ 422263.6309045 ],
       [ 451475.65766437],
       [1751385.47321981],
       [ 204668.56021287],
       [  23058.56555279],
       [ 580039.47191308],
       [ 549758.84257907],
       [ 627276.01217636],
       [  63208.11070646],
       [ 312607.29600337],
       [ 254058.84035963],
       [ 770221.26870696],
       [ 514036.79349363],
       [ 285515.2009837 ],
       [ 417611.79689813],
       [ 541465.74838564],
       [ 959186.92477439],
       [ 507133.28246994],
       [1493302.85201757],
       [ 586568.37085204],
       [ 433464.5078811 ],
       [  76079.95619169],
       [ 904264.23334675],
       [ 202878.63168305],
       [1594818.85524751],
       [ 636222.48953149],
       [ 775617.33647294],
       [ 382177.3671007 ],
       [ 193260.10783665],
       [ 705628.41475904],
       [1342953.35271221],
       [-231317.75082666],
       [ 104344.91099606],
       [1290057.8555169 ],
       [ 223601.20381168],
       [ 269785.85818842],
       [ 779048.43833213],
       [ 667939.54267107],
       [ 576575.75865972],
       [-159545.84994815],
       [1444430.98153229],
       [1490915.3917935 ],
       [ 592644.65552819],
       [ 371725.21560358],
       [ 579779.0368088 ],
       [ 430337.42236085],
       [ 586568.37085204],
       [  98100.28434896],
       [ 478824.70189679],
       [ 366469.81040017],
       [ 768723.14126468],
       [   2222.71001783],
       [ 462798.97821683],
       [ 336562.83928604],
       [ 622673.54243372],
       [ 401730.95807484],
       [ 647524.08657183],
       [ 657377.76730949],
       [ 731773.45690657],
       [1364573.10766011],
       [ 392982.9651497 ],
       [ 544539.62902623],
       [ 672479.90872681],
       [ 136472.4478758 ],
       [ 424894.0291907 ],
       [ 503194.23424238],
       [ 747053.82654358],
       [ 564135.03977202],
       [ 495841.99201058],
       [ -55200.15330057],
       [ 394458.58910845],
       [ 370150.25095753],
       [ 560415.21676759],
       [ 449878.84229167],
       [  85259.83110608],
       [  47575.85645643],
       [  21755.40361688],
       [ 204597.90268098],
       [  18600.20129462],
       [ 321306.0675799 ],
       [ 406363.87940387],
       [ 521283.44239177],
       [ 542598.86541982],
       [ 344942.37582259],
       [ 251464.34003614],
       [ 623354.79788844],
       [ 295062.73109989],
       [1290503.74919784],
       [ 813206.30239071],
       [ 425521.99716695],
       [ -38918.85776097],
       [ 363592.63943723],
       [ 191233.99206293],
       [ 807705.49691638],
       [-197206.47772066],
       [1484707.86930105],
       [ 469993.60497323],
       [1423403.02439186],
       [ 712881.59979942],
       [ 344411.19433548],
       [  35327.94648652],
       [ 131734.73531131],
       [ 418114.48126611],
       [ 342223.62998119],
       [1527566.40846977],
       [ 551438.15664382],
       [1574667.34285189],
       [ 581484.7128669 ],
       [ 487337.21248464],
       [ 396815.89134642],
       [ 251484.69681272],
       [ 509819.9452372 ],
       [ -48475.75264318],
       [  90394.91858906],
       [ 557349.49880186],
       [ 724121.38094556],
       [1489940.61306705],
       [1290430.66543479],
       [ 511813.65894431],
       [ 160774.89609751],
       [ 369667.09430218],
       [ -27516.71793358],
       [ 291009.1515951 ]])

In [15]:
from sklearn.metrics import r2_score
score = r2_score( y_test, predicted)
print("The accuracy of our model is {}%".format(round(score, 2) *100))

The accuracy of our model is 43.0%